{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div>
        <img src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div role="alert">
            <div>
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
                    <div>

                        {{ user_form.username|as_crispy_field }}
                        <hr>

                        {{ user_form.email|as_crispy_field }}
                    </div>
                    <hr>
                    <a href="{% url 'accounts:change_password' %}">Change Password</a>
                        <hr>

                        {{ profile_form.avatar|as_crispy_field }}
                    </div>
                    <hr>
                    {{ profile_form.bio|as_crispy_field }}
                </div>
            </div>
            <br><br>
            <button type="submit">Save Changes</button>
            <button type="reset">Reset</button>
        </form>
    </div>
{% endblock content %}